.com
{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 90%;
        background-size: cover;
        background:url("https://media.istockphoto.com/photos/snowcapped-k2-peak-picture-id1288385045?s=612x612");
}

.text
{
    position: relative;
    top: 50%;
    text-align: center;
    color: red;

}